<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Add Partita</title>
    <link href="/css/style_index.css?version7" rel="stylesheet">
    <link href="/css/style_addPartita.css?version7" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong fixed-top">
                <div class="container-fluid">
                    <div class="logo-image">
                        <a class="navbar-brand" href="/">
                            <img src="/images/logo.png" alt="logo" width="150" height="150">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav container d-flex justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tornei">Tornei</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contatti</a>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${userDetails}!=null">
                        <div class="user-info">
                            <span>Benvenuto <span th:text="${userDetails.username}"></span></span>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <div th:unless="${userDetails}!=null" class="user-info">
                        <div class="user-info">
                            <span>Effettua <a href="/login">Login</a></span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row title">
            <div class="col text-center">
                <div class="nome-torneo">
                    <h1 th:text="'Stai registrando una nuova partita per il torneo: ' + ${torneo.nome}"></h1>
                </div>
                <div class="logo-torneo">
                    <img th:src="@{${torneo.logo}}" id="logo-nav" alt="logo torneo">
                </div>
            </div>
        </div>
    </header>
    <section class="d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div class="container text-center">
                    <h2>Partite già registrate</h2>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Giornata</th>
                                <th scope="col">Partita</th>
                                <th scope="col">Data e Ora</th>
                                <th scope="col">Campo</th>
                                <th scope="col">Azioni</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <th:block th:each="partita : ${partite}">
                                <tr>
                                    <td th:text="${partita.numeroGiornata}"></td>
                                    <td>
                                        <a th:href="@{'/partita/'+${partita.idPartita}}">
                                            <span th:text="${partita.squadraCasa.nome}"></span>
                                            <span class="gol" th:text="${partita.golSquadraCasa}"></span>
                                            -
                                            <span class="gol" th:text="${partita.golSquadraFuoriCasa}"></span>
                                            <span th:text="${partita.squadraFuoriCasa.nome}"></span>
                                        </a>
                                    </td>
                                    <td th:text="${#temporals.format(partita.dataEOra, 'dd-MM-yyyy HH:mm')}"></td>
                                    <td th:text="${partita.campo}"></td>
                                    <td>
                                        <a th:href="@{'/eliminaPartita/'+${partita.idPartita}}">
                                            <button type="button" class="btn btn-primary">Elimina Partita</button>
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">

                <div class="contianer-sm container-form d-flex justify-content-center align-items-center text-center">
                    <form th:action="@{/addPartita}" method="post" th:object="${partita}">
                        <div class="row">
                            <div class="col">
                                <h2>Dettagli squadra casa</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="select-squadra">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" th:field="*{squadraCasa}"
                                            aria-label="Floating label select example">
                                            <option value="" selected>Squadra Casa</option>
                                            <div class="options" th:each="squadra : ${squadre}">
                                                <option th:value="${squadra.idSquadra}" th:text="${squadra.nome}"></option>
                                            </div>
                                        </select>
                                        <label for="floatingSelect">Squadra Casa</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3 gol-effettuati">
                                    <input type="number" class="form-control" id="floatingInput" th:field="*{golSquadraCasa}"
                                        placeholder="Gol squadra Casa">
                                    <label for="floatingInput">Gol squadra Casa</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2>Dettagli squadra fuori casa</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="select-squadra">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" th:field="*{squadraFuoriCasa}"
                                            aria-label="Floating label select example">
                                            <option value="" selected>Squadra Fuori Casa</option>
                                            <div class="options" th:each="squadra : ${squadre}">
                                                <option th:value="${squadra.idSquadra}" th:text="${squadra.nome}"></option>
                                            </div>
                                        </select>
                                        <label for="floatingSelect">Squadra Fuori Casa</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3 gol-effettuati">
                                    <input type="number" class="form-control" id="floatingInput"
                                        th:field="*{golSquadraFuoriCasa}" placeholder="Gol squadra Fuori Casa">
                                    <label for="floatingInput">Gol squadra Fuori Casa</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2>Ulteriori dettagli</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3 dataeora">
                                    <input type="datetime-local" class="form-control" id="floatingInput" th:field="*{dataEOra}"
                                        placeholder="Data e Ora">
                                    <label for="floatingInput">Data e Ora</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3 campo">
                                    <input type="text" class="form-control" id="floatingInput" th:field="*{campo}"
                                        placeholder="Campo">
                                    <label for="floatingInput">Campo</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3 giornata">
                                    <input type="number" class="form-control" id="floatingInput" th:field="*{numeroGiornata}"
                                        placeholder="Numero Giornata">
                                    <label for="floatingInput">Numero Giornata</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="button">
                                    <button type="submit" class="btn btn-primary">Aggiungi Marcatori</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="container text-center">
                <div class="row upper-row align-items-center">
                    <div class="col">
                        <img src="/images/logo.png" width="170" height="170">
                    </div>
                    <div class="col">
                        <ul class="footer-nav">
                            <li class="item-footer-nav">
                                <a href="/">Homepage</a>
                            </li>
                            <li class="item-footer-nav">
                                <a href="/">Tornei</a>
                            </li>
                            <li class="item-footer-nav">
                                <a href="/">About</a>
                            </li>
                            <li class="item-footer-nav">
                                <a href="/">Contatti</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row lower-row align-items-center">
                    <div class="col">
                        <span>&copy; 2024 Siw League</span>
                    </div>
                    <div class="col">
                        <img src="/images/facebook.png">
                        <img src="/images/instagram.png">
                        <img src="/images/youtube.png">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 430 || document.documentElement.scrollTop > 430) {
                document.querySelector(".navbar").classList.add("scrolled");
            } else {
                document.querySelector(".navbar").classList.remove("scrolled");
            }
        }
    </script>
</body>

</html>