<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${torneo.nome}"></title>
    <link href="/css/style_index.css?version7" rel="stylesheet">
    <link href="/css/style_torneo.css?version7" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong fixed-top">
                <div class="container-fluid">
                    <div class="logo-image">
                        <a class="navbar-brand" href="/">
                            <img src="/images/logo.png" alt="logo" width="150" height="150">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav container d-flex justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tornei">Tornei</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contatti</a>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${userDetails}!=null">
                        <div class="user-info">
                            <span>Benvenuto <span th:text="${userDetails.username} + ' (' + ${userRole} + ')'"></span></span>
                            <a href="/admin/dashboard" th:if="${userRole == 'admin'}">Dashboard admin</a>
                            <a href="/dashboard" th:unless="${userRole == 'admin'}">Dashboard Team Manager</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <div th:unless="${userDetails}!=null" class="user-info">
                        <div class="user-info">
                            <span>Effettua <a href="/login">Login</a></span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row title">
            <div class="col text-center">
                <div class="nome-torneo">
                    <h1 th:text="${torneo.nome}"></h1>
                    <div class="fase-torneo">
                        <div th:if="${torneo.svolgimentoInCorso && !torneo.iscrizioneInCorso}">
                            <span>(In Corso)</span>
                        </div>
                        <div th:if="${!torneo.svolgimentoInCorso && !torneo.iscrizioneInCorso}">
                            <span>(Terminato)</span>
                        </div>
                        <div th:if="${!torneo.svolgimentoInCorso && torneo.iscrizioneInCorso}">
                            <span>(In fase di iscrizione)</span>
                        </div>
                    </div>
                </div>
                <div class="descrizione-torneo">
                    <p th:text="${torneo.descrizione}"></p>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col informazioni-torneo">
                    <h2>Informazioni Torneo</h2>
                    <p>Data Inizio: <span th:text="${torneo.dataInizio}"></span></p>
                    <p>Data Fine: <span th:text="${torneo.dataFine}"></span></p>
                    <p>Numero Massimo Squadre Partecipanti: <span
                            th:text="${torneo.numeroMassimoSquadrePartecipanti}"></span></p>
                    <p>Numero Massimo Giocatori Iscrivibili: <span
                            th:text="${torneo.numeroMassimoGiocatoriIscrivibili}"></span></p>
                    <p>Montepremi: <span th:text="${torneo.montepremi}"></span></p>
                    <p>Iscrizione in corso: <span th:text="${torneo.iscrizioneInCorso}"></span></p>
                </div>
                <div class="col loghi-squadre-partecipanti">
                    <div class="row row-cols-auto">
                        <div class="col logo-image" th:each="squadra : ${squadrePartecipanti}">
                            <a th:href="@{'/squadra/'+${squadra.idSquadra}}">
                                <img th:src="@{${squadra.logo}}" alt="logo squadra" width="100" height="110">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="classifica-container container">
            <div class="row">
                <div class="intestazione text-center">
                    <h2>Classifica</h2>
                </div>
            </div>
            <div class="row table-responsive">
                <table class="tabella-classifica table table-hover text-center table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Posizione</th>
                            <th scope="col">Squadra</th>
                            <th scope="col">Punti</th>
                            <th scope="col">Partite Giocate</th>
                            <th scope="col">Vittorie</th>
                            <th scope="col">Pareggi</th>
                            <th scope="col">Sconfitte</th>
                            <th scope="col">Gol Fatti</th>
                            <th scope="col">Gol Subiti</th>
                            <th scope="col">Differenza Reti</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <th:block th:each="squadra, pos : ${squadrePartecipanti}">
                            <tr class="statistiche-classifica-squadra">
                                <th scope="row" th:text="${pos.index + 1}"></th>
                                <td>
                                    <a th:href="@{'/squadra/'+${squadra.idSquadra}}">
                                        <span th:text="${squadra.nome}"></span>
                                    </a>
                                </td>
                                <td th:text="${squadra.getPunti()}"></td>
                                <td th:text="${squadra.calcolaPartiteGiocate()}"></td>
                                <td th:text="${squadra.calcolaVittorie()}"></td>
                                <td th:text="${squadra.calcolaPareggi()}"></td>
                                <td th:text="${squadra.calcolaSconfitte()}"></td>
                                <td th:text="${squadra.calcolaGolFatti()}"></td>
                                <td th:text="${squadra.calcolaGolSubiti()}"></td>
                                <td th:text="${squadra.calcolaGolFatti() - squadra.calcolaGolSubiti()}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container text-center">
            <h2>Partite</h2>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Giornata</th>
                        <th scope="col">Partita</th>
                        <th scope="col">Data e Ora</th>
                        <th scope="col">Campo</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <th:block th:each="partita : ${partite}">
                        <tr>
                            <td th:text="${partita.numeroGiornata}"></td>
                            <td>
                                <a th:href="@{'/partita/'+${partita.idPartita}}">
                                    <span th:text="${partita.squadraCasa.nome}"></span>
                                    <span class="gol" th:text="${partita.golSquadraCasa}"></span>
                                    -
                                    <span class="gol" th:text="${partita.golSquadraFuoriCasa}"></span>
                                    <span th:text="${partita.squadraFuoriCasa.nome}"></span>
                                </a>
                            </td>
                            <td th:text="${#temporals.format(partita.dataEOra, 'dd-MM-yyyy HH:mm')}"></td>
                            <td th:text="${partita.campo}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="container marcatori">
            <h2 class="text-center">Classifica Marcatori</h2>
            <div class="row">
                <div class="col">
                    <div class="card podium first">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${marcatori[0].nome} + ' ' + ${marcatori[0].cognome}">Nome del Giocatore</h5>
                            <p class="card-text" th:text="${marcatori[0].golSegnati}">Numero di Gol</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card podium second">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${marcatori[1].nome} + ' ' + ${marcatori[1].cognome}">Nome del Giocatore</h5>
                            <p class="card-text" th:text="${marcatori[1].golSegnati}">Numero di Gol</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card podium third">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${marcatori[2].nome} + ' ' + ${marcatori[2].cognome}">Nome del Giocatore</h5>
                            <p class="card-text" th:text="${marcatori[2].golSegnati}">Numero di Gol</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Giocatore</th>
                            <th scope="col">Gol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="giocatore, index : ${marcatori}" th:if="${index.index > 2}">
                            <td th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Nome del Giocatore</td>
                            <td th:text="${giocatore.golSegnati}">Numero di Gol</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        <div class="container">
            <h2>Aggiungi Partita ad un torneo</h2>
            <p>Partecipa ai nostri tornei e metti alla prova le tue abilità!</p>
            <a th:href="@{'/admin/formManagePartita/'+${torneo.idTorneo}}" class="btn btn-primary">Aggiungi Partita ad un
                torneo</a>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="container text-center">
                <div class="row upper-row align-items-center">
                    <div class="col">
                        <img src="/images/logo.png" width="170" height="170">
                    </div>
                    <div class="col">
                        <ul class="footer-nav">
                            <li class="item-footer-nav">
                                <a href="/">Homepage</a>
                            </li>
                            <li class="item-footer-nav">
                                <a href="/">Tornei</a>
                            </li>
                            <li class="item-footer-nav">
                                <a href="/">About</a>
                            </li>
                            <li class="item-footer-nav">
                                <a href="/">Contatti</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row lower-row align-items-center">
                    <div class="col">
                        <span>&copy; 2024 Siw League</span>
                    </div>
                    <div class="col">
                        <img src="/images/facebook.png">
                        <img src="/images/instagram.png">
                        <img src="/images/youtube.png">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 430 || document.documentElement.scrollTop > 430) {
                document.querySelector(".navbar").classList.add("scrolled");
            } else {
                document.querySelector(".navbar").classList.remove("scrolled");
            }
        }
    </script>
</body>

</html>