body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 700px;
    background-image: url(/static/images/navbar.png);
    background-size: cover;
    background-position: center; /* Centra l'immagine */
}

.title-homepage{
    padding-top: 250px;
    text-align: center;
    color: white;
}

.navbar {   
    background-color: rgba(0, 0, 0, 0.596); /* Colore di sfondo con opacità */
}

.scrolled {
    background-color: #486684;
}

.container-fluid div{
    text-align: center;
    flex: 1;
}

.user-info{
    color: white;
    display: flex;
    flex-direction: column;
}

section{
    padding-top: 20px;
}

footer{

    margin-top: 20px;
    padding-top: 10px;
    background-color: #486684;
    color: white;
}

.upper-row{

    border-bottom: 2px solid white;
}

.footer-nav{

    list-style: none;
}

.item-footer-nav{

    padding: 5px;
}

.item-footer-nav a{

    text-decoration: none;
    color: white;
}