header {
    height: 50vh;
    background-image: url(/images/navbar.png);
    background-size: cover;
    background-position: center; /* Centra l'immagine */
}

section{

    background-color: #ececed;
}

#logo-nav {
    background-color: #f0f0f0;
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}