header {
    height: 50vh;
    background-image: url(/images/navbar.png);
    background-size: cover;
    background-position: center; /* Centra l'immagine */
}

section{

    background-color: #ececed;
}

.loghi-squadre-partecipanti {
    max-height: 400px; /* Imposta un'altezza massima per il contenitore */
    overflow-y: auto; /* Abilita lo scorrimento verticale */
}

@media (max-width: 768px) {
    .loghi-squadre-partecipanti {
        max-height: 300px; /* Altezza regolata per dispositivi mobili */
    }
}