header {
    height: 50vh;
    background-image: url(/images/navbar.png);
    background-size: cover;
    background-position: center; /* Centra l'immagine */
}

section{

    background-color: #ececed;
}

.container-form{

    background-color: #ececed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    width: 100%;
}

.google{

    padding: 5px;
    border: 1px;
    border-radius: 20px;
    background-color: white;
}

.google .link-casella{

    display: flex;
    justify-content: center;
    align-items: center;
}

.google a{

    text-decoration: none;
    color: black;
}

.google img{

    width: 10%;
}